body {
  text-align: center;
  margin: auto;
  background-color: #0665a2;
}
#refresh-button {
  border: none;
  height: 5vh;
  width: 30%;
  background-color: rgb(7, 102, 12);
}

#refresh-button:hover {
  cursor: pointer;
}

#list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

#list li {
  width: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

#list li:hover {
  background-color: #034d7a;
}

#list li a {
  text-decoration: none;
  color: white;
}

.success {
  display: flex;
  position: absolute;
  bottom: 10vh;
  right: 5%;
  background-color: green;
}
.hide {
  display: none;
}
.space {
  margin-left: 10px;
  margin-right: 10px;
}

#audiotrack {
  position: sticky;
  display: flex;
  height: 6vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(236, 214, 214, 0.8);
}
#controls i:hover {
  cursor: pointer;
  justify-self: flex-start;
}
#title-song {
  justify-self: center;
}
